name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build_windows:
    name: "Windows Build"

    runs-on: ubuntu-latest
    container: archlinux:latest

    steps:
    - uses: actions/checkout@v2
     
    - name: Add repository
      run: |
        echo -e '[ownstuff]\nServer = https://ftp.f3l.de/~martchus/$repo/os/$arch\nServer = https://martchus.no-ip.biz/repo/arch/$repo/os/$arch' >> /etc/pacman.conf
        pacman-key --init
        pacman-key --recv-keys B9E36A7275FC61B464B67907E06FE8F53CDC6A4C
        pacman-key --finger    B9E36A7275FC61B464B67907E06FE8F53CDC6A4C # verify fingerprint
        pacman-key --lsign-key B9E36A7275FC61B464B67907E06FE8F53CDC6A4C # sign imported key locally
        
    - name: Install Packages
      run: |
        pacman -Syu --noconfirm base-devel cmake mingw-w64-cmake-static mingw-w64-make mingw-w64-gcc mingw-w64-qt6-base-static mingw-w64-qt6-svg-static mingw-w64-qt6-tools-static mingw-w64-freetype2 mingw-w64-harfbuzz mingw-w64-openjpeg2 mingw-w64-pcre2 mingw-w64-libpng mingw-w64-zstd libpng-static openssl-static zstd-static pcre2-static harfbuzz-static freetype2-static qt6-base qt6-svg qt6-tools
      
    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: x86_64-w64-mingw32-cmake-static . -DSTATICCOMPILE:bool=TRUE -DQT_NO_PACKAGE_VERSION_CHECK=TRUE -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -G "Unix Makefiles" -P FindPCRE2.cmake

    - name: Build
      # Build your program with the given configuration
      run: x86_64-w64-mingw32-make
      
    - name: Upload Artifiact
      uses: actions/upload-artifact@v2
      with:
        name: windows
        path: ./lunar-client-qt.exe
  build_mac:
    name: "MacOS Build"
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '6.2.2'
          host: 'mac'
          target: 'desktop'
          arch: 'clang_64'
          install-deps: 'true'
          setup-python: 'false'
        
      - name: Configure CMake
        run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: make
        
      - uses: actions/upload-artifact@v2
        with:
          name: mac
          path: ./lunar-client-qt.app
          
          
  arch_build:
    name: "Arch Linux Build"
    
    runs-on: ubuntu-latest
    container: archlinux:latest
    
    steps: 
      - uses: actions/checkout@v2

      - name: Install Packages
        run: |
          pacman -Syu --noconfirm qt6-base qt6-svg cmake base-devel
          
      - name: Configure CMake
        run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
       
      - name: Build
        run: make
        
      - uses: actions/upload-artifact@v2
        with:
          name: linux
          path: ./lunar-client-qt
    
