name: Build and Release

on:
  push:
    branches: [ master ]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build_windows:
    name: "Windows Build"

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
      
    - name: Install Qt & MinGW
      uses: jurplel/install-qt-action@v2.14.0
      with:
        version: '5.15.2'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_mingw81'
        tools: 'tools_mingw,8.1.0-1-202004170606,qt.tools.win64_mingw810'

    - name: Install OpenSSL
      shell: powershell
      run: |
        Get-ChildItem "$env:VCPKG_INSTALLATION_ROOT\triplets\" -Recurse -Include *.cmake | Add-Content -Value "`nset(VCPKG_BUILD_TYPE release)"
        vcpkg install openssl:x64-mingw-dynamic

    - name: Configure CMake
      run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -G "MinGW Makefiles"

    - name: Build
      run: cmake --build . --config ${{env.BUILD_TYPE}}

    - name: Move built files to new directory
      shell: powershell
      run: |
        mkdir 'Lunar Client Qt'
        mv -Path @('lunar-client-qt.exe';jq -r '.agentsDestDir,.libsDestDir' config.json) -Destination 'Lunar Client Qt'

    - name: Package Qt
      shell: bash
      run: |
        PATH="$IQTA_TOOLS/mingw810_64/bin":$PATH windeployqt Lunar\ Client\ Qt/ --compiler-runtime --no-angle --no-opengl-sw --no-virtualkeyboard --no-webkit2 --no-system-d3d-compiler --no-translations --no-quick-import

    - name: Package OpenSSL
      shell: powershell
      run: Get-ChildItem -Path "$env:VCPKG_INSTALLATION_ROOT\packages\openssl_x64-mingw-dynamic\bin\*" -Include *.dll | Copy-Item -Destination "Lunar Client Qt"

    - name: Compress
      shell: powershell
      run: Compress-Archive -Path 'Lunar Client Qt' -DestinationPath windows.zip

    - name: Upload Artifiact
      uses: actions/upload-artifact@v2
      with:
        name: windows
        path: ./windows.zip
  build_mac:
    name: "MacOS Build"
    runs-on: macos-10.15
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Install Qt
        uses: jurplel/install-qt-action@v2.14.0
        with:
          version: '5.15.2'
          host: 'mac'
          target: 'desktop'
          arch: 'clang_64'
          setup-python: 'false'
        
      - name: Configure CMake
        run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: make
        
      - name: Package Dependencies
        run: |
          macdeployqt lunar-client-qt.app
          
      - name: Compress
        run: |
          tar -czvf mac.tar.gz lunar-client-qt.app
          
      - uses: actions/upload-artifact@v2
        with:
          name: mac
          path: ./mac.tar.gz
          
          
  build_arch:
    name: "Arch Linux Build"
    
    runs-on: ubuntu-latest
    container: archlinux:latest

    steps:
      - name: Install Packages
        run: |
          pacman -Syu --noconfirm --needed qt5-base qt5-svg cmake base-devel git jq

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Mark Repository as Safe
        run: git config --global safe.directory "$GITHUB_WORKSPACE"

      - name: Configure CMake
        run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
        
      - name: Build
        run: make

      - name: Compress
        run: |
          mkdir Lunar\ Client\ Qt
          jq '.agentsDestDir,.libsDestDir' config.json | xargs mv -t Lunar\ Client\ Qt/ lunar-client-qt
          tar czvf linux.tar.gz Lunar\ Client\ Qt/

      - uses: actions/upload-artifact@v2
        with:
          name: linux
          path: ./linux.tar.gz

  create_release:
    name: "Create Release"
    needs: [build_windows, build_mac, build_arch]
    if: startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-latest

    steps:
    - name: Download Builds
      uses: actions/download-artifact@v3

    - name: Variables
      id: variables
      run: |
        echo "::set-output name=version::${GITHUB_REF_NAME#v}"

    - name: Create Release
      uses: softprops/action-gh-release@v0.1.14
      with:
        name: ${{ steps.variables.outputs.version }}
        draft: true
        fail_on_unmatched_files: true
        files: |
          linux/linux.tar.gz
          mac/mac.tar.gz
          windows/windows.zip